.slider-section {
  padding: 3rem 4rem;
  background-color: #ececec;
  text-align: center;
}

.slider-title {
  font-size: 28px;
  margin-bottom: 1.5rem;
  color: #0f172a;
}

.slider-image-wrapper {
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.slider-image-wrapper:hover {
  transform: scale(1.05);
}

.slider-image {
  height: 250px;
  width: 100%;
  max-width: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}