.profile-page {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
  background-image: url('./efoto.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}


.sidebar {
  width: 180px;
  background-color: #1f1f1f;
  color: white;
  padding: 10px;
}

.logo {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  background: #e0e0e0;
  padding: 10px;
  text-align: center;
}

.sidebar-item {
  padding: 10px;
  margin-top: 20px;
  background-color: #333;
}

.main-content {
  flex: 1;
  z-index: 1; /* mbi overlay */
  background-size: cover;
  background-position: center;
  color: white;
}

.topbar {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: right;
  font-weight: bold;
}
.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}


.left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-btn,
.update-btn {
  background-color: #222;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.update-btn {
  background-color: #555;
  font-size: 12px;
}

.right-section .flight-box {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.flight-box p {
  font-weight: bold;
}

.flight-table {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 30px 350px;
  border-radius: 10px;
  padding: 20px;
}

.flight-table table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.flight-table th,
.flight-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
